_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

node_modules/
backup/
logs/
dist/

*.json
*.env
*.db
*.db-shm
*.db-wal
*.DS_STORE

!lists.json
!items.json
!package.json
!package-lock.json
!slotsmulti.json