node_modules/
backup/
logs/
dist/
out/

*.json
*.env
*.db
*.db-shm
*.db-wal
*.DS_STORE

!lists.json
!items.json
!karmashop.json
!package.json
!package-lock.json
!slotsmulti.json
!.eslintrc.json
!.prettierrc.json
!.prettierignore
!tsconfig.json
!.commitlintrc.json