node_modules/
backup/
logs/
dist/
out/

*.env
*.db
*.db-shm
*.db-wal
*.DS_STORE

*.tsbuildinfo
*.eslintcache
*.prettiercache

**/.terraform/*
*.tfplan
*.tfstate
*.tfstate.*
crash.log
crash.*.log

anticheat.ts
anticheat_old.ts
anticheat2.ts

src/generated

.agents/skills/query-database
