{{ define "nypsi.discord.title" }}{{ if gt (len .Alerts.Firing) 0 }}{{ if eq .CommonLabels.severity "critical" }}🔴{{ else }}🟠{{ end }}{{ else }}✅{{ end }} {{ .GroupLabels.alertname }}{{ if gt (len .Alerts) 1 }} · {{ len .Alerts }} instances{{ end }}{{ end }}

{{ define "nypsi.discord.message" -}}
{{ range .Alerts.Firing -}}
**{{ .Annotations.summary }}**
{{ .Annotations.description }}

{{ end -}}
{{ range .Alerts.Resolved -}}
**Resolved: {{ .Annotations.summary }}**

{{ end -}}
{{- end }}
