name: ci

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    lint:
        name: linting

        runs-on: ubuntu-latest
        steps:
            - name: checkout repository
              uses: actions/checkout@v3
              
            - name: setup node
              uses: actions/setup-node@v3

            - name: install packages
              run: npm install
            
            - name: linting
              run: npx eslint ./

    test:
        name: testing

        runs-on: ubuntu-latest
        timeout-minutes: 5

        env:
            BOT_TOKEN: ${{ secrets.BOT_TOKEN }}

        if: env.BOT_TOKEN != null

        steps:
            - name: checkout repository
              uses: actions/checkout@v3
              
            - name: setup node
              uses: actions/setup-node@v3
              with:
                node-version: 16

            - name: install packages
              run: npm install

            - name: run bot
              run: node nypsi.js

    deploy:
        if: github.ref == 'refs/heads/main'
        needs: test

        runs-on: ubuntu-latest

        steps:
            - name: connect to server & pull changes
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  USERNAME: ${{ secrets.USERNAME }}
                  PORT: 22
                  KEY: ${{ secrets.KEY }}
                  script: |
                      cd ~/nypsi
                      git pull
                      git status
                      npm ci
