name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: tests

    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4
        name: install pnpm
        id: pnpm-install
        with:
          version: latest
          run_install: false

      - name: get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        name: setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: install dependencies
        run: pnpm install --frozen-lockfile

      - name: run setup.sh
        run: bash ${GITHUB_WORKSPACE}/setup.sh

      - name: setup prisma
        run: npx prisma generate

      - name: restore tsbuildinfo
        uses: actions/cache/restore@v4
        with:
          path: tsconfig.tsbuildinfo
          key: tsbuildinfo-${{ runner.os }}-${{ hashFiles('tsconfig.json', 'pnpm-lock.json') }}
          restore-keys: |
            tsbuildinfo-${{ runner.os }}

      - name: build
        run: npx tsc --incremental --noEmit

      - name: run tests
        run: npx jest

  lint:
    name: linting

    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4
        name: install pnpm
        id: pnpm-install
        with:
          version: latest
          run_install: false

      - name: get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        name: setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: install dependencies
        run: pnpm install --frozen-lockfile

      - name: run setup.sh
        run: bash ${GITHUB_WORKSPACE}/setup.sh

      - name: setup prisma
        run: npx prisma generate

      - name: restore tsbuildinfo
        uses: actions/cache/restore@v4
        with:
          path: tsconfig.tsbuildinfo
          key: tsbuildinfo-${{ runner.os }}-${{ hashFiles('tsconfig.json', 'pnpm-lock.json') }}
          restore-keys: |
            tsbuildinfo-${{ runner.os }}

      - name: build
        run: npx tsc --incremental --noEmit

      - name: restore eslintcache
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: .eslintcache
          key: eslintcache-${{ runner.os }}-${{ hashFiles('pnpm-lock.json') }}
          restore-keys: |
            eslintcache-${{ runner.os }}

      - name: linting
        run: pnpm run lint

      - name: clear eslintcache
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.ref == 'refs/heads/main' && github.event_name == 'push' && steps.cache.outputs.cache-hit
        run: gh cache delete --repo ${{ github.repository }} ${{ steps.cache.outputs.cache-primary-key }}

      - name: save eslintcache
        uses: actions/cache/save@v4
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        with:
          path: .eslintcache
          key: eslintcache-${{ runner.os }}-${{ hashFiles('pnpm-lock.json') }}

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: [lint, test]
    concurrency: deploy
    runs-on: ubuntu-latest

    steps:
      - name: start deployment
        uses: bobheadxi/deployments@v1
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: prod

      - name: checkout repository
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        name: install pnpm
        id: pnpm-install
        with:
          version: latest
          run_install: false

      - name: get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        name: setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: run setup.sh
        run: bash ${GITHUB_WORKSPACE}/setup.sh

      - name: setup prisma
        run: npx prisma generate

      - name: restore tsbuildinfo
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: tsconfig.tsbuildinfo
          key: tsbuildinfo-${{ runner.os }}-${{ hashFiles('tsconfig.json', 'pnpm-lock.json') }}
          restore-keys: |
            tsbuildinfo-${{ runner.os }}

      - name: build
        run: npx tsc --build --incremental --force

      - name: clear tsbuildinfo cache
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: steps.cache.outputs.cache-hit
        run: gh cache delete --repo ${{ github.repository }} ${{ steps.cache.outputs.cache-primary-key }}

      - name: save tsbuildinfo
        uses: actions/cache/save@v4
        with:
          path: tsconfig.tsbuildinfo
          key: tsbuildinfo-${{ runner.os }}-${{ hashFiles('tsconfig.json', 'pnpm-lock.json') }}

      - name: prepare files for deploy
        run: |
          mkdir deploy
          mv dist/ deploy/
          mv package.json deploy/
          mv pnpm-lock.yaml deploy/
          mv data/ deploy/
          mv prisma/ deploy/
          mv tsconfig.json deploy/
          mv prisma.config.ts deploy/

      - name: deploy
        uses: burnett01/rsync-deployments@8.0.2
        with:
          switches: -rtvh --partial --progress --delete --exclude='dist/utils/functions/anticheat.js' --exclude='node_modules/' --exclude='out/' --exclude='.env'
          path: deploy/
          remote_path: ~/nypsi/
          remote_host: ${{ secrets.HOST }}
          remote_port: 22
          remote_user: ${{ secrets.USERNAME }}
          remote_key: ${{ secrets.SSH_KEY }}

      - name: connect to server & update packages
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: 22
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/nypsi
            nvm use lts
            npm i -g pnpm
            pnpm install --frozen-lockfile

      - name: update deployment status
        uses: bobheadxi/deployments@v1
        if: always()
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          env: ${{ steps.deployment.outputs.env }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
